/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


/* Define Futura font family with different weights and styles */
@font-face {
  font-family: 'Futura';
  src: url('fonts/futura/futura_o4.woff2') format('woff2');
  font-weight: 400;
  font-style: oblique;
}

@font-face {
  font-family: 'Futura';
  src: url('fonts/futura/futura_n4.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('fonts/futura/futura_n5.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('fonts/futura/futura_n7.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('fonts/futura/futura_o7.woff2') format('woff2');
  font-weight: 700;
  font-style: oblique;
}



/* Apply default styles */
body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: 'Futura', sans-serif;
}
